* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;

    nav {
        width: 100%;

        .box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 220px 0px 220px;

            .box-1 {
                img {
                    width: 70px;
                    height: 70px;
                }
            }

            .box-2 {
                ul {
                    list-style: none;
                    display: flex;
                    gap: 40px;

                    li {
                        padding: 12px 0px;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 23px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #000000;
                    }

                    li:hover {
                        border-bottom: 1px solid #0082F4;
                        color: #0082F4;
                        cursor: pointer;
                    }
                }
            }

            .box-3 {
                button {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                    padding: 14px 30px;
                    border-radius: 6px;
                    border: none;
                    background-color: #0082F4;
                }
            }

            .box-4 {
                display: none;

                i {
                    font-size: 25px;
                }
            }

        }

        hr {
            width: 100%;
            height: 1px;
            color: #0283F5;
            opacity: 10%;

        }
    }

    header {
        width: 100%;
        padding: 100px 220px;

        .box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;

            .box-1 {
                width: 500px;

                h4 {
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 29px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #0080FD;
                    padding-bottom: 5px;
                }

                h2 {
                    font-size: 61px;
                    font-weight: 700;
                    line-height: 79px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                    padding-bottom: 20px;

                    b {
                        font-size: 61px;
                        font-weight: 700;
                        line-height: 79px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #0082F4;
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                    padding-bottom: 30px;
                }

                .button {
                    display: flex;
                    gap: 30px;

                    .button-1 {
                        button {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 23px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #FFFFFF;
                            padding: 20px 46px;
                            border: none;
                            border-radius: 10px;
                            background-color: #0082F4;
                        }
                    }

                    .button-2 {
                        button {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 19px;
                            letter-spacing: 0em;
                            text-align: left;
                            padding: 17px 34px;
                            border: 1px solid #0082F4;
                            border-radius: 10px;
                            background: inherit;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 15px;

                            i {
                                font-size: 29px;
                            }
                        }
                    }
                }
            }

            .box-2 {
                img {
                    width: 500px;
                    height: 500px;
                }
            }

        }
    }

    .section-1 {
        width: 100%;
        padding: 50px 220px 100px 220px;

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;
            flex-wrap: wrap;

            .box-1 {
                img {
                    width: 486px;
                    height: 486px;
                }
            }

            .box-2 {
                width: 450px;

                h4 {
                    font-size: 25px;
                    font-weight: 500;
                    line-height: 29px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #0082F4;
                    padding-bottom: 5px;
                }

                h2 {
                    font-size: 49px;
                    font-weight: 700;
                    line-height: 64px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                    padding-bottom: 20px;
                }

                p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                    padding-bottom: 30px;
                }

                button {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                    padding: 20px 40px;
                    border-radius: 10px;
                    border: none;
                    background-color: #0082F4;
                }
            }
        }
    }

    .section-3 {
        width: 100%;
        padding: 100px 220px 60px 220px;

        .tittle {
            width: 100%;
            padding-bottom: 60px;

            h2 {
                font-size: 48px;
                font-weight: 500;
                line-height: 73px;
                letter-spacing: 0em;
                text-align: center;
                color: #000000;
            }
        }

        .box {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;

            .box-1 {
                width: 324px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 150px;
                    height: 150px;
                    margin-bottom: 60px;
                }

                h3 {
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 36px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #000000;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #000000;
                }
            }
        }

    }

    .section-4 {
        width: 100%;
        padding: 60px 220px 100px 220px;

        .tittle {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;

            .tittle-1 {
                h2 {
                    font-size: 48px;
                    font-weight: 500;
                    line-height: 73px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                }
            }

            .tittle-2 {
                display: flex;
                align-items: center;
                gap: 40px;

                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        .box {
            display: flex;
            align-items: center;
            gap: 70px;
            flex-wrap: wrap;

            .box-1 {
                width: 420px;
                display: flex;
                align-items: center;
                gap: 32px;
                border: 1px solid #0082F4;
                border-radius: 10px;
                padding: 30px 90px 30px 0px;
                border-left: 62px solid #0082F4;

                .item-1 {
                    margin-left: -30px;

                    img {
                        width: 65px;
                        height: 65px;
                    }
                }

                .item-2 {
                    h4 {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #000000;
                        margin-bottom: 45px;

                    }

                    b {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #000000;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: #000000;
                    }
                }
            }
        }
    }

    .section-5 {
        width: 100%;
        padding: 75px 220px;
        background-color: #E8ECFF4D;
        display: flex;
        justify-content: center;
        align-items: center;

        .box {
            h2 {
                font-size: 31px;
                font-weight: 500;
                line-height: 37px;
                letter-spacing: 0em;
                text-align: center;
                color: #058AFF;
                margin-bottom: 15px;
            }

            p {
                font-size: 20px;
                font-weight: 500;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: center;
                color: #000000;
                margin-bottom: 30px;
            }

            .input {
                width: 487px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 25px;
                border: 1px solid #058AFF;
                border-radius: 10px;

                .input-1 {
                    display: flex;
                    align-items: center;
                    gap: 25px;

                    i {
                        font-size: 32px;
                        opacity: 60%;
                    }

                    input {
                        padding: 16px 10px;
                        border: none;
                        background: none;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 23px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #000000;
                    }
                    button {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 23px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: #FFFFFF;
                        background-color: #0082F4;
                        padding: 16px 30px;
                        border-radius: 10px;
                        border: none;
                    }
                }
            }
        }
    }

    .section-6 {
        width: 100%;
        padding: 60px 220px 45px 220px;

        .box {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 125px;
            flex-wrap: wrap;

            .box-1 {
                img {
                    width: 69px;
                    height: 69px;
                    margin-bottom: 5px;
                }

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    li {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #000000;
                    }
                }
            }

            .box-2 {
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    li {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #000000;

                        b {
                            font-size: 25px;
                            font-weight: 500;
                            line-height: 38px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: black;
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        padding: 34px 220px;
        background: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);

        .box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 90px;

            .box-1 {
                p {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                }

            }

            .box-2 {
                display: flex;
                align-items: center;
                gap: 30px;

                button {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #3C61E1;
                    background-color: #FFFFFF;
                    border-radius: 10px;
                    border: none;
                    padding: 15px 30px;
                }
            }
        }
    }
}

@media (min-width:1000px) and (max-width:1400px) {
    .container {
        nav {
            .box {
                padding: 15px 150px 0px 150px;
            }
        }

        header {
            padding: 100px 150px;
        }

        .section-1 {
            padding: 50px 150px 100px 150px;
        }

        .section-3 {
            padding: 100px 150px 60px 150px;
        }

        .section-4 {
            padding: 60px 150px 100px 150px;
        }

        .section-5 {
            padding: 75px 150px;
        }

        .section-6 {
            padding: 60px 150px 45px 150px;
        }

        footer {
            padding: 34px 150px;
        }
    }
}

@media (min-width:600px) and (max-width:999px) {
    .container {
        nav {
            .box {
                padding: 15px 100px 0px 100px;

                .box-2 {
                    display: none;
                }

                .box-3 {
                    display: none;
                }

                .box-4 {
                    display: block;
                }
            }
        }

        header {
            padding: 100px 100px;
        }

        .section-1 {
            padding: 50px 100px 100px 100px;
        }

        .section-3 {
            padding: 100px 100px 60px 100px;
        }

        .section-4 {
            padding: 60px 100px 100px 100px;
        }

        .section-5 {
            padding: 75px 100px;
        }

        .section-6 {
            padding: 60px 100px 45px 100px;
        }

        footer {
            padding: 34px 100px;
        }
    }
}


@media (min-width:300px) and (max-width:599px) {
    .container {
        nav {
            .box {
                padding: 15px 10px 0px 10px;

                .box-2 {
                    display: none;
                }

                .box-3 {
                    display: none;
                }

                .box-4 {
                    display: block;
                }
            }
        }

        header {
            padding: 50px 10px;

            .box {
                .box-1 {
                    width: 280px;
                    .button{
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                }
                .box-2{
                   img{
                    width: 280px;
                    height: 280px;
                   }
                }
            }
        }

        .section-1 {
            padding: 25px 10px 50px 10px;
            .box{
                .box-1{
                    img{
                        width: 280px;
                        height: 280px;
                    }
                }
                .box-2{
                    width: 280px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    h2{
                        text-align: center;
                    }
                    p{
                        text-align: center;
                    }
                }
            }
        }

        .section-3 {
            padding: 50px 10px 30px 10px;
            .box{
                .box-1{
                    width: 280px;
                }
            }
        }

        .section-4 {
            padding: 30px 10px 50px 10px;
            .tittle{
                flex-wrap: wrap;
                gap: 20px;
            }
            .box{
                .box-1{
                    width: 280px;
                    justify-content: center;
                    padding: 15px 30px 15px 0px;
                }
            }
        }

        .section-5 {
            padding: 35px 10px;
            .box{
                .input{
                    width: 280px;
                    .input-1{
                        gap: 5px;
                        input{
                            width: 90px;
                            padding: 16px 0px;
                        }
                    }
                }
            }

        }

        .section-6 {
            padding: 30px 10px 25px 10px;
            .box{
                flex-direction: column;
                align-items:center;
            }
        }

        footer {
            padding: 24px 10px;
            .box{
                
                .box-2{
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
    }
}